{% extends "base.html" %}
{% block content %}

<h1>Muokkaa genreä {{attributes.name}}</h1>
<div class="col-md-6">
    {% if errors %}
    <div class="alert alert-danger">
        <ul>
            {% for error in errors %}
            <li>{{error}}</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}
    <form method="post" action="{{base_path}}/genres/{{attributes.id}}/edit">
        <input type="hidden" name="id" value="{{attributes.id}}">
        <div class="form-group">
            <label>Nimi</label>
            <input type="text" name="name" class="form-control" value="{{attributes.name}}">
        </div>
        <div class="form-group">
            <label>Kuvaus</label>
            <textarea name="description" class="form-control">{{attributes.description}}</textarea>
        </div>
        <button type="submit" class="btn btn-primary">Tallenna muutokset</button>
    </form>
</div>

{% endblock %}