{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
{% if notice is not empty %}
<div class="alert alert-success">
    {{notice}}
</div>
{% endif %}
<h1>Genre: {{genre.name}}</h1>
<p>{{genre.description}}</p>

<h3>Elokuvia, jotka kuuluvat genreen</h3>
{% if movies is empty %}
<label>Ei elokuvia.</label>
{% else %}
<table class="table table-hover">
    <thead>
    <th>Elokuva</th>
    <th>Julkaisuvuosi</th>
</thead>
<tbody>
    {% for movie in movies %}
    <tr>
        <td><a href="{{base_path}}/movies/{{movie.id}}">{{movie.name}}</a></td>
        <td>{{movie.year}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
{% endif %}

{% if user_logged_in %}
{{forms.edit_button("#{base_path}/genres/#{genre.id}/edit")}}
{{forms.destroy_button("#{base_path}/genres/#{genre.id}/destroy")}}
{% endif %}
{% endblock %}