{% extends "base.html" %}
{% block content %}
<h1>Logan (2017)</h1>
<p>Lähitulevaisuudessa uupunut Logan
    huolehtii sairaalloisesta professori X:stä 
    piilopaikassa Meksikon rajalla. Mutta Loganin 
    yritykset piiloutua maailmalta ja menneisyydeltään 
    murskaantuvat, kun nuori mutantti saapuu uhkaavien joukkojen jahtaamana.</p>

<label>Genret: <a href="#">Toiminta</a>, 
    <a href="#">Draama</a>, 
    <a href="#">Sci-Fi</a>
</label>

<blockquote class="blockquote bg-info">
    <p>Pitäis käydä kattomassa.</p>
    <footer>Pekka <cite>20.03.2017 20:22</cite></footer>
</blockquote>
<blockquote class="blockquote bg-info">
    <p>Oli kyllä paras Wolverine leffa.</p>
    <footer>Lauri <cite>20.03.2017 20:00</cite></footer>
</blockquote>
<br>

<button class="btn btn-primary">Uusi viesti</button>
<button class="btn btn-primary">Muokkaa</button>
<button class="btn btn-danger">Poista</button>

{% endblock %}