{% extends "base.html" %}
{% import "macros/forms.html" as forms %}
{% block content %}
{% if notice is not empty %}
<div class="alert alert-success">
    {{notice}}
</div>
{% endif %}
<h1>{{movie.name}}, ({{movie.year}})</h1>
{% if movie.description == false %}
<p>Ei kuvausta</p>
{% else %}
<p>{{movie.description}}</p>
{% endif %}
<label>Genret:
    {% if genres is empty %}
    Ei genrejä.
    {% else %}
    {% for genre in genres %}
    <a href="{{base_path}}/genres/{{genre.id}}">{{genre.name}}</a>
    {% endfor %}
    {% endif %}
</label>

<h2>Viestit:</h2>
{% if messages is not empty %}
{% for message in messages %}
<blockquote class="blockquote bg-info">
    <p>{{message.content}}</p>
    <p>{{forms.destroy_button("#{base_path}/messages/#{message.id}/destroy")}}</p>
    <footer> {{user[message.user_id].username}} <cite>{{message.posted_at}}</cite></footer>
</blockquote>
{% endfor %}
{% else %}
<label>Ei viestejä.</label>
{% endif %}
<br>

{% if user_logged_in %}
{{forms.send_button("#{base_path}/movies/#{movie.id}/new")}}
{% if user_logged_in.id == movie.creator_id or user_logged_in.administrator %}
{{forms.edit_button("#{base_path}/movies/#{movie.id}/edit")}}
{{forms.destroy_button("#{base_path}/movies/#{movie.id}/destroy")}}
{% endif %}
{% endif %}
{% endblock %}